<!doctype html>
	
	<head>
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript"  src="js/bootstrap.js"></script>

	</head>
	<body>
		
						<div class="navbar">
  <div class="navbar-inner">
      <!-- <div class="container-fluid"> -->
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
         <!--  <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> -->
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="divider-vertical"></li>
            <!-- <li><a href="#">Beach Vacations</a></li> -->
                <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Beach Vacations<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="beach_destinations.html">Destinations</a></li>
                <li><a href="#">Themes</a></li>
                
              </ul>
            </li>
            <li class="divider-vertical"></li>
           <!--  <li><a href="#">Safaris</a></li> -->
               <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Safaris <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ><a href="parks.html">Parks Served</a></li>
                <li><a href="themed.html">Themed Safaris</a></li>
                
              </ul>
            </li>
          
            <li class="divider-vertical"></li>
               <li class="dropdown">
             <a data-toggle="dropdown" class="dropdown-toggle" href="#">Accomodation <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a href="#">By Park</a>
                  <ul class="dropdown-menu">
                    <li><a href="accomodation_national_park_1.html">National Park 1</a></li>
                    <li><a href="#">National Park 2</a></li>
                    <li><a href="#">National Park 3</a></li>
                    <li><a href="#">National Park 4</a></li>
                   
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="#">By Beach</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Beach 1</a></li>
                    <li><a href="#">Beach 2</a></li>
                    <li><a href="#">Beach 3</a></li>
                    <li><a href="#">Beach 4</a></li>
                    
                  </ul>
                </li>
               
                
              </ul>
            </li>
             <li class="divider-vertical"></li>
            <li><a href="about.html">About Us</a></li>
             <li class="divider-vertical"></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li class="divider-vertical"></li>
           
          </ul>
        </div><!-- /.nav-collapse -->
      <!-- </div> -->
  </div>
</div>




			<div class="row">
				<div class="span12 slider">

          <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
              
                  <img src="img/tower_ES.jpeg" alt="">
                   <div class="carousel-caption">
                    <h4>Cras justo odio, dapibus ac facilisis</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto rerum alias aliquid ex quis assumenda ab adipisci odio. Blanditiis consequatur quisquam corrupti ducimus quae magni recusandae iste nobis distinctio ullam.</p>
                    </div>

                </div>
                <div class="item">
                  <img src="img/quinta_r_ES.jpeg" alt="">
                   <div class="carousel-caption">
                    <h4>Cras justo odio, dapibus ac</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto rerum alias aliquid ex quis assumenda ab adipisci odio. Blanditiis consequatur quisquam corrupti ducimus quae magni recusandae iste nobis distinctio ullam.</p>
                    </div>
                  
                </div> 
                <div class="item">
                  <img src="img/a_ES.jpeg" alt="">
                   <div class="carousel-caption">
                      <h4>Cras justo odio, dapibus ac in</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  
                </div>
                <div class="item">
                  <img src="img/river_ES.jpeg" alt="">
                   <div class="carousel-caption">
                    <h4>Cras justo odio ac facilisis in</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto rerum alias aliquid ex quis assumenda ab adipisci odio. Blanditiis consequatur quisquam corrupti ducimus quae magni recusandae iste nobis distinctio ullam.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto rerum alias aliquid ex quis assumenda ab adipisci odio. Blanditiis consequatur quisquam corrupti ducimus quae magni recusandae iste nobis distinctio ullam.</p>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto rerum alias aliquid ex quis assumenda ab adipisci odio. Blanditiis consequatur quisquam corrupti ducimus quae magni recusandae iste nobis distinctio ullam.</p>
                    </div>
                </div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
              				
				</div>  <!-- emd of span 12 -->
			</div>   <!-- end of row -->
      

      <div class="row">
           <div class="span12 footer">
				<p id="zoom">
				  Website created by <a href="#">Zoom Tanzania Website Design</a>
				</p>
				<p id="hakimiliki">
					&copy Afric' Aventure 
				</p>
      <div id="futa">
				<ul >
						<li><a href="">About Us</a></li>
					<li><a href="">Contact Us</a></li>
						<li><a href="">Sitemap</a></li>
					</ul>

        </div>

    </div>  <!-- end of span12 -->

       </div>  <!-- end of row -->
					
				
		
  </div> <!--  end of container -->
  <script>
$('#myCarousel').carousel({
      interval: 5000,
      pause: "hover"
    });


   </script>
   // <script>
   //    jQuery('ul.nav li.dropdown').hover(function() {
   //    jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
   //    }, function() {
   //    jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
   //    });

   // </script>
	</body>

</html>