<!doctype html>
	
	<head>
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript"  src="js/bootstrap.js"></script>

	</head>
	<body>
		<div class="container">
		<div class="row header">
			    
				<div class="span9 logo">
					<a href="#"><img src="img/logo-01.png" alt=""></a>
					</div> <!-- end of span9  --> 
					<div class="span3 flag">

						<a href="#"><img src="img/flags-01.png" alt=""></a>
						<p>Bienvenue</p>

						</div>   <!-- end of span3 -->
         
		</div>  <!--  end of row -->	
		  <div class="row">	
		  <div class="span12">	
          <div class="navbar">
  <div class="navbar-inner">
      <!-- <div class="container-fluid"> -->
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
         <!--  <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> -->
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="index.html">Home</a></li>
            <li class="divider-vertical"></li>
            <!-- <li><a href="#">Beach Vacations</a></li> -->
                <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Beach Vacations<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="beach_destinations.html">Destinations</a></li>
                <li><a href="#">Themes</a></li>
                
              </ul>
            </li>
            <li class="divider-vertical"></li>
           <!--  <li><a href="#">Safaris</a></li> -->
               <li class="dropdown active">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Safaris <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ><a href="parks.html">Parks Served</a></li>
                <li><a href="themed.html">Themed Safaris</a></li>
                
              </ul>
            </li>
          
            <li class="divider-vertical"></li>
               <li class="dropdown">
             <a data-toggle="dropdown" class="dropdown-toggle" href="#">Accomodation <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a href="#">By Park</a>
                  <ul class="dropdown-menu">
                    <li><a href="accomodation_national_park_1.html">National Park 1</a></li>
                    <li><a href="#">National Park 2</a></li>
                    <li><a href="#">National Park 3</a></li>
                    <li><a href="#">National Park 4</a></li>
                   
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="#">By Beach</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Beach 1</a></li>
                    <li><a href="#">Beach 2</a></li>
                    <li><a href="#">Beach 3</a></li>
                    <li><a href="#">Beach 4</a></li>
                    
                  </ul>
                </li>
               
                
              </ul>
            </li>
             <li class="divider-vertical"></li>
            <li><a href="about.html">About Us</a></li>
             <li class="divider-vertical"></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li class="divider-vertical"></li>
           
          </ul>
        </div><!-- /.nav-collapse -->
      <!-- </div> -->
  </div>
</div>
	
					
  </div>  <!-- end of span12 -->
 </div>  <!-- end of row -->

			<div class="row">
				<div class="span12 full_width">
          <h1>National Park Title 1</h1>

          <div class="img1">
     <img src="http://dummyimage.com/300x200/c3c3c3/aaaee6" alt="">
     </div>
    <p>

    Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Odio aperiam unde
     accusamus laborum aut error quasi ratione quidem
      dolores consectetur corporis nihil quod doloribus.
       Ex reprehenderit ut accusamus voluptas esse! Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Odio aperiam unde
     accusamus laborum aut error quasi ratione quidem
      dolores consectetur corporis nihil quod doloribus.
       Ex reprehenderit ut accusamus voluptas esse! Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Odio aperiam unde
     accusamus laborum aut error quasi ratione quidem
      dolores consectetur corporis nihil quod doloribus.
       Ex reprehenderit ut accusamus voluptas esse! Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Odio aperiam unde
     accusamus laborum aut error quasi ratione quidem
      dolores consectetur corporis nihil quod doloribus.
       Ex reprehenderit ut accusamus voluptas esse! Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Odio aperiam unde
     accusamus laborum aut error quasi ratione quidem
      dolores consectetur corporis nihil quod doloribus.
       Ex reprehenderit ut accusamus voluptas esse! Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Odio aperiam unde
     accusamus laborum aut error quasi ratione quidem
      dolores consectetur corporis nihil quod doloribus.
       Ex reprehenderit ut accusamus voluptas esse! Lorem ipsum dolor sit amet, 
    
       </p>
          <div class="img2">
     <img src="http://dummyimage.com/300x200/c3c3c3/aaaee6" alt="">
     </div>
       <p>Consectetur adipisicing elit. Odio aperiam unde
     accusamus laborum aut error quasi ratione quidem
      dolores consectetur corporis nihil quod doloribus.
       Ex reprehenderit ut accusamus voluptas esse! Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Odio aperiam unde
     accusamus laborum aut error quasi ratione quidem
      dolores consectetur corporis nihil quod doloribus.
       Ex reprehenderit ut accusamus voluptas esse! Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Odio aperiam unde
     accusamus laborum aut error quasi ratione quidem
      dolores consectetur corporis nihil quod doloribus.
       Ex reprehenderit ut accusamus voluptas esse! Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Odio aperiam unde
     accusamus laborum aut error quasi ratione quidem
      dolores consectetur corporis nihil quod doloribus.
       Ex reprehenderit ut accusamus voluptas esse! Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Odio aperiam unde
     accusamus laborum aut error quasi ratione quidem
      dolores consectetur corporis nihil quod doloribus.
       Ex reprehenderit ut accusamus voluptas esse! Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Odio aperiam unde
     accusamus laborum aut error quasi ratione quidem
      dolores consectetur corporis nihil quod doloribus.
       Ex reprehenderit ut accusamus voluptas esse!</p>
     
            
         <p class="linki"><a href="#">See the Accomodations for National Park Title  1</a></p>
				</div>  <!-- emd of span 12 -->
			</div>   <!-- end of row -->
      <div class="row">
       
     
      <div class="span12 footer">
				<p id="zoom">
				  Website created by <a href="#">Zoom Tanzania Website Design</a>
				</p>
				<p id="hakimiliki">
					&copy Afric' Aventure 
				</p>
      <div id="futa">
				<ul >
						<li><a href="">About Us</a></li>
					<li><a href="">Contact Us</a></li>
						<li><a href="">Sitemap</a></li>
					</ul>

        </div>

    </div>  <!-- end of span12 -->

       </div>  <!-- end of row -->
					
				
		
  </div> <!--  end of container -->
  <script>
$('#myCarousel').carousel({
      interval: 5000,
      pause: "hover"
    });

   </script>
     <script>
      // jQuery('ul.nav li.dropdown').hover(function() {
      // jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
      // }, function() {
      // jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
      // });

   </script>
	</body>

</html>